@-webkit-keyframes squeeze {
  0% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateY(3px) scaleY(0.8);
    transform: translateY(3px) scaleY(0.8)
  }
  10% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: none;
    transform: none;
  }
  14% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateY(3px) scaleY(0.8);
    transform: translateY(3px) scaleY(0.8)
  }
  24% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes squeeze {
  0% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateY(3px) scaleY(0.8);
    transform: translateY(3px) scaleY(0.8)
  }
  10% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: none;
    transform: none;
  }
  14% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateY(3px) scaleY(0.8);
    transform: translateY(3px) scaleY(0.8)
  }
  24% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes hideshow {
  0% {
     opacity:1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity:0;
  }
  10% {
    opacity:1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  14% {
     opacity:1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity:0;
  }
  24% {
    opacity:1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes hideshow {
  0% {
     opacity:1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity:0;
  }
  10% {
    opacity:1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  14% {
     opacity:1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity:0;
  }
  24% {
    opacity:1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.outside-pupil {
  visibility:hidden;
}
.pupil {
  -webkit-animation: hideshow 1.5s ease-in-out;
  animation: hideshow 1.5s ease-in-out;
}
.blink {
  transform-box: fill-box;
  -webkit-animation: squeeze 1.5s ease-in-out;
  animation: squeeze 1.5s ease-in-out;
  -webkit-transform-origin: center;
  transform-origin: center;
}