/* reset */
/* from https://alligator.io/css/minimal-css-reset/ */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  
  background-color:#CEEEFF;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/* layout */


/* elem */
.elem {
  border: solid #6AC5AC 1px;
}

.box {
  display: inline-block;
  width: calc(100% / 2);
  padding:10px;
}

#main {
  padding:10px;
  width:100%;
}

.border {
  border: 10px solid pink;
  border-image: repeating-linear-gradient(-45deg,
      transparent,
      transparent 20px,
      black 20px,
      black 40px) 10;
}

@media screen and (min-width:700px) {
  #main {
    width:700px;
  }
}

@media screen and (min-width:600px) {
  .box {
    width: calc(100% / 5);
  }
  #container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /*new*/
  }
}